 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: 'Press Start 2P', cursive;,sans-serif; 
    background-color:#31087B;
}


    #seleccionar-mascota
{display:flex;
flex-direction:column;
justify-content:center;
align-items:center}
.titulo
{
color:#FA2FB5;font-size:32px;
}


.subtitulo
{color:#F10086;font-size:20px
}
.tarjetas{display:flex;gap:10px}


.tarjeta-de-mokepon
{width:230px;
    height:100px;
    background:aquamarine;
    padding:10px;
    box-sizing:border-box;
    border-radius:20px;
    display:
    flex;justify-content:center;
    align-items:center;
    color:red;
    border-color: antiquewhite;}
    .tarjeta-de-mokepon img{width:80px}
    #boton-mascota
    {width:180px;
        height:40px;
        border-radius:20px;
        background:0 0;
        border:3px solid #C92C6D;
        color:orangered;
        font-family:poppins,sans-serif;
        margin-top:30px}



    input {
    display:none
}


#seleccionar-ataque {
    display: flex;   
    flex-direction: column;
    align-items: center;
}


    




