@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: 'Press Start 2P', cursive;
    background-color:orange;
}


#seleccionar-mascota{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.titulo{
    color:darkred;
    font-size: 32px;
}


.subtitulo{
    color:#F10086;font-size:20px
}

.tarjetas, .tarjetas-ataques{
    display:flex;
    gap:10px
}


.tarjeta-de-mokepon{
    width:230px;
    height:100px;
    background:darkblue;
    padding:10px;
    box-sizing:border-box;
    border-radius:20px;
    display: flex;
    justify-content:center;
    align-items:center;
    color:red;
    border-color: antiquewhite;}


  .tarjeta-de-mokepon img{
    width:80px
}
    #boton-mascota{
        width:180px;
        height:40px;
        border-radius:20px;
        background:0 0;
        border:3px solid #C92C6D;
        color:orangered;
        font-family: 'Press Start 2P', cursive;
        margin-top:30px}



    input {
    display:none
}

input:checked + label{
    background-color: #F10086;
}


#seleccionar-ataque {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    }

    .boton-de-ataque{
        background-color:darkblue;
        padding: 10px;
        box-sizing:border-box;
        border-radius:20px;
        border-color: transparent;
        width:150px;
        color: turquoise;
        font-family: 'Press Start 2P', cursive;

    }
   

    #mensajes{
    width: 450px;
    background: aquamarine;
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
    display:flex;
    align-items: center;   
    flex-direction: column; 
    }

    


    #boton-reiniciar{
        border:none;
        color: blue;
        font-family: 'Press Start 2P', cursive;
    }

   .ataques{
    display: grid;
    grid-template-columns: 150px 150px;
}

#vidas-jugador, #vidas-enemigo{
    font-size: 16px;
    margin-top: 10px;
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 360px){
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }
   
}



    
